p {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin:0;
    padding-top: 54px;
    padding-left: 80px;
    padding-bottom: 1000px;
    background-color: rgb(240, 240, 240);
}