p {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin:0;
    padding-top: 50px;
    padding-left: 60px;
    padding-bottom: 1000px;
    background-color: rgb(247, 240, 240);
}