.header {
    display: flex;
    height: 40px;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: white;

}

.left {


    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}

.option {
    height: 16px;
    margin-right: 15px;
    margin-left: 20px;
}

.yt-logo {
    width: 80px;
}

.middle {
    display: flex;
    flex: 1;
    background-color: rgb(255, 255, 255);
    margin-left: 50px;
    margin-right: 25px;
    max-width: 500px;
    align-items: center;
}

.search-bar {
    flex: 1;
    height: 25px;
    border: 1px;
    border-radius: 2px;
    border-style: solid;
    margin-right: -1px;
    border-color: rgb(105, 105, 105);
    box-shadow: inset 1px 3px 5px rgba(247, 35, 35, 0.02);
    width: 0;
    
}

input:focus {
    outline: none;
}

.search-bar::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: none;


}

.search-img {
    height: 12px;
    padding-top: 2px;

}

.search-btn {
    background-color: white;
    height: 25px;
    width: 42px;
    border: 1px;
    border-radius: 2px;
    border-style: solid;
    background-color: rgb(231, 229, 229);
    margin-right: 5px;

}

.mic-btn {

    height: 30px;
    width: 30px;
    border: none;
    border-radius: 15px;
    background-color: rgb(231, 229, 229);
    padding-right: 6px;
    padding-top: 3px;
}

.mic-img {
    height: 13px;

}

.right {

    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    margin-right: 20px;

}


.upload-img {
    height: 35px;


}


.menu-img {
    height: 18px;

}


.bell-img {
    height: 25px;

}


.profile-img {
    height: 26px;
    border-radius: 13px;

}