.sidebar{
    position: fixed;
    bottom:0;
    left: 0;
    top:0; 
    width:70px;
    top:40px;
    height: 100%;
    border-radius: 1px;
    background-color: rgb(255, 255, 255);
    
}

.side-icon{
    background-color: rgb(255, 255, 255);
    height:70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;

}
.side-icon:hover{
    background-color: rgb(228, 228, 228);
}

.side-img{
    height: 26px;
    padding-bottom: 4px;
    
}

.side-icon div{
 font-size: 10px;
 justify-content: center;
 align-items: center;
 font-family: Arial, Helvetica, sans-serif;
}