.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 20px;
}

@media(max-width:650px){
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }

}
@media(min-width:900px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}
@media(max-width:350px){
    .video-grid{
        grid-template-columns: 1fr ;
    }

}

.thumbnail {
  width: 100%;
  
}
.thumbnail-div{
    position:relative;
    cursor: pointer;
}
.duration {
  font-size: 12px;
  background-color: rgb(7, 7, 7);
  position: absolute;
  color: white;
  bottom:10px;
  right:8px;
  border-radius: 2px;
  padding: 1px 2px;
}

.info {
  display: grid;
  grid-template-columns: 30px 1fr;
  column-gap: 5px;
}

.logo {
  width: 100%;
  border-radius: 100%;
}

.title {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 8px;
  line-height: 14px;
}

.author-name,
.video-stat {
  font-size: 10px;
  color: gray;
}

.author-name {
  margin-bottom: 3px;
}
